<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Google Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="locate"></ion-icon>
      <ion-label>AGM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
