<ion-header>
  <ion-toolbar>
    <ion-title>
      Carmera Nativa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item ion-padding>
      <ion-label>Vamos bater uma foto:</ion-label>
      <ion-button (click)="addPhotoCamera()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <img *ngIf="imagem" [src]="imagem">
    </ion-item>
  </ion-list>
</ion-content>